/*--
Author: W3layouts
Author URL: http://w3layouts.com
Distributor: http://bootstraptema.ru/
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
}
p{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Fjalla One', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- header --*/
input[type="submit"],.w3l_banner_info_left_grid_left h3 a,.w3agile_footer_copy p a,.reply a,.agile_cat_grid_tags ul li a:hover,.agile_cat_grid ul.categories li a,.w3l_admin a,.w3ls_single_left_grid_right ul li a,.wthree_features_services_grid h4 a,.agile_services_bottom_grid_left_grid a,.simplefilter li,.agileinfo_footer_grid ul li a,.w3l_banner_info_left_grid1,.agile_blog_grid h4 a{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
.header {
    background: #212121;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-brand {
    height: 70px;
    padding:29px 0px 0;
    font-size: 1.3em;
    line-height: 39px;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-nav > li > a {
    font-size: 14px;
    padding:35px 25px;
    text-transform: uppercase;
	margin-right:5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #ff9900;
}
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9900;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*-- //header --*/
/*-- banner --*/
.banner{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:800px;
	position:relative;
}
.wthree_banner_info_grid h3{
	font-size: 2.5em;
    color: #fff;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 10px;
	padding-bottom: 3em;
    position: relative;
}
.wthree_banner_info_grid h3:after{
	content: '';
    position: absolute;
    bottom: 62%;
    right: 5%;
    background: #FFF;
    width: 20%;
    height: 2px;
}
.banner_bg {
    width: 80%;
    padding:15em 0 3em;
}
.w3l_banner_info{
	background:rgba(65, 65, 65, 0.76);
    padding: 2em 0;
    position: absolute;
    width: 100%;
    bottom: 0%;
}
.w3l_banner_info_left_grid1{
	width: 55px;
    height: 55px;
    background: #ff9900;
    text-align: center;
    border-radius: 40px;
    margin: 0 auto;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;
	-ms-border-radius: 40px;
	overflow:hidden;
	display:inline-block;
}
.w3l_banner_info_left_grid1 span{
	font-size:1.2em;
	color:#212121;
	top:.95em;
}
.w3l_banner_info_left:hover .w3l_banner_info_left_grid1{
    -webkit-transform: scale(1.25) translateZ(0px);
    transform: scale(1.25) translateZ(0px);
	-moz-transform: scale(1.25) translateZ(0px);
	-o-transform: scale(1.25) translateZ(0px);
	-ms-transform: scale(1.25) translateZ(0px);
	background: #ff9900;
}
.w3l_banner_info_left_grid_left h3 a{
	font-size: 1em;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
.w3l_banner_info_left:hover .w3l_banner_info_left_grid_left h3 a,.w3l_banner_info_left_grid_left h3 a:hover{
	color:#ff9900;
/*-- w3layouts --*/
}
.w3l_banner_info_left_grid_left p{
	color:#f5f5f5;
	line-height:1.8em;
	margin:1em 0 0;
}
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom,.blog,.newsletter,.portfolio,.services,.features-services,.typo,.mail,.single{
	padding:5em 0;
}
.w3ls_banner_bottom_grid_left{
	text-align:center;
}
.w3ls_banner_bottom_grid_left h3{
	font-size: 2em;
    color: #212121;
    padding-bottom: 1em;
    position: relative;
    text-transform: capitalize;
	margin-bottom:1.5em;
}
.w3ls_banner_bottom_grid_left h3:after{
	content: '';
    background: #ff9900;
    width: 15%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 40%;
}
.w3ls_banner_bottom_grid_left p{
	color:#999;
	line-height:2em;
	margin-bottom:4em;
}
.more {
    width: 35%;
    margin: 0 auto;
}
.more a{
	padding:10px 25px;
	font-size:14px;
	text-decoration:none;
	text-transform:uppercase;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
/*-- agileits --*/
	-ms-border-radius: 20px;
	vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
	display: block;
}
.more a:hover{
	color:#fff;
}
/* Aylen */
.button--aylen {
	background:#ff9900;
    color: #fff;
	overflow: hidden;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
}
.button--aylen.button--inverted {
	background: none;
	color: #fff;
}
.button--aylen::before,
.button--aylen::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	-moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	-o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	-ms-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	border-radius: 20px;
}
.button--aylen::before {
	background:#6A6554;
/*-- w3layouts --*/
}
.button--aylen::after {
	background: #212121;
}
.button--aylen:hover::before,
.button--aylen:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
	-ms-transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
	-moz-transition-delay: 0.175s;
	-o-transition-delay: 0.175s;
	-ms-transition-delay: 0.175s;
}
/*-- img-hover --*/
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view .mask,.view .content {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}
.view img {
	display: block;
	position: relative;
}
.view h3 {
	text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 1.5em;
    padding: 0;
    margin: 5.5em 0 1em 0;
	letter-spacing:5px;
}
.view p {
   font-style: italic;
/*-- agileits --*/
   position: relative;
   color: #fff;
   padding:0;
   text-align: center;
   line-height:2em;
}
.view-seventh .mask {
   background-color:rgba(14, 14, 14, 0.5);
   -webkit-transform: rotate(0deg) scale(1);
   -moz-transform: rotate(0deg) scale(1);
   -o-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   padding: 0 3em;
}
.view-seventh h3 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh p {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px) rotate(0deg);
   -moz-transform: translateY(0px) rotate(0deg);
   -o-transform: translateY(0px) rotate(0deg);
   -ms-transform: translateY(0px) rotate(0deg);
   transform: translateY(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-seventh:hover h3 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.7s;
   -moz-transition-delay: 0.7s;
   -o-transition-delay: 0.7s;
   -ms-transition-delay: 0.7s;
   transition-delay: 0.7s;
}
.view-seventh:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.6s;
   -moz-transition-delay: 0.6s;
   -o-transition-delay: 0.6s;
   -ms-transition-delay: 0.6s;
   transition-delay: 0.6s;
}
/*-- //img-hover --*/
/*-- //banner-bottom --*/
/*-- about --*/
.about{
	background:#f5f5f5;
}
.about{
	padding:5em 0 0;
}
.wthree_about_grid h2{
	font-size: 1.7em;
    color: #212121;
    line-height: 1.5em;
    text-transform: capitalize;
	position:relative;
	padding-bottom:1em;
}
.wthree_about_grid h2:after{
	content: '';
    background: #ff9900;
    width: 43%;
    right: 15%;
    position: absolute;
    bottom: 0%;
    height: 2px;
}
.wthree_about_grid p{
	margin:4em 0 0;
	color:#999;
	line-height:2em;
}
.wthree_about_grid:nth-child(2) {
    margin: 3em 0 0;
}
/*-- //about --*/
/*-- blog --*/
.blog h3,.newsletter h3,.portfolio h3,.services h3,.features-services h3,h3.title,.mail h3{
	font-size:2em;
	color:#212121;
	text-align:center;
	padding-bottom:.7em;
	position:relative;
}
.blog h3:after,.newsletter h3:after,.portfolio h3:after,.services h3:after,.features-services h3:after,h3.title:after,.mail h3:after{
	position: absolute;
    bottom: 0%;
    left: 45%;
    background: #ff9900;
    height: 2px;
    width: 10%;
    content: '';
}
p.qui{
	margin: 1em 0 0 !important;
    color: #999;
    line-height: 1.8em;
    text-align: center;
    font-weight: 500 !important;
}
.agile_blog_grids{
	margin:3em 0 0;
}
.agile_blog_grid1{
	position:relative;
}
.agile_blog_grid1_pos{
	position: absolute;
    top: 25%;
    width: 80%;
    left: 10%;
    padding: 1em;
    background: rgba(221, 175, 15, 0.74);
}
.agile_blog_grid1_pos p{
	color:#fff;
	line-height:1.8em;
	padding-left:2em;
	position:relative;
}
.agile_blog_grid1_pos p:before{
	content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    background: url(../images/img-sp.png) no-repeat -9px -10px;
    display: block;
    width: 20px;
    height: 15px;
}
.agile_blog_grid h4{
	margin:1.5em 0 1em;
}
.agile_blog_grid h4 a{
	font-size: 1.2em;
    color: #212121;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: capitalize;
}
.agile_blog_grid h4 a:hover{
	color: #ff9900;
}
.agile_blog_grid p.ut{
	color:#999;
	line-height:2em;
	margin-bottom:2em;
}
.m1 {
    width: 50% !important;
    margin:0;
	text-align:center;
}
.video-img {
    position: relative;
}
.agileits_play_icon{
	position: absolute;
    top: 37%;
    left: 45%;
}
.agileits_play_icon span{
	font-size: 3em;
    color: #fff;
    top: 0%;
}
.agileits_play_icon:focus {
    outline: none;
}
/*-- //blog --*/
/*-- newsletter --*/
.newsletter{
	background:#f5f5f5;
}
.newsletter form{
	width:60%;
	margin:3em auto 2em;
	padding-bottom:1em;
	border-bottom:1px solid #D2D2D2;
}
.newsletter input[type="email"]{
	outline: none;
    padding: 0;
    border: none;
    width: 91%;
    font-size: 1.5em;
    color: #999;
    background: none;
}
.newsletter input[type="submit"]{
	outline: none;
    background: url(../images/img-sp.png) no-repeat -48px 0px;
    display: inline-block;
    width: 8%;
    height: 33px;
    border: none;
    padding: 0;
}
ul.agileits_social_icons li{
	display:inline-block;
}
.icon {
	float: none;
	position: relative;
	height: 0;
	margin:1% 0.5% 0;
}
.agileits_social_icons_grids{
    text-align: center;
	position: relative;
}
@media all and (min-width: 640px) {
  .icon {
    width: 5%;
    padding-bottom: 5%;
  }
}
.icon:last-of-type {
  margin-right: 0;
}
.icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #212121;
  background-color:transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-align: left;
}
.icon a:hover {
  background-color: #222;
  background-size: 0%;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.icon__name {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -7px;
	color: #fff;
	font-size: 11px;
	text-align: center;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	opacity: 0;
	-webkit-filter: blur(25px);
          filter: blur(25px);
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	will-change: transform;
	text-align: center;
}
.icon:hover .icon__name {
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	opacity: 1;
	-webkit-filter: blur(0);
			filter: blur(0);
}

.icon--facebook a {
	background-image:url("../images/6.png");
	display:block;
	z-index: 9;
}

.icon--twitter a {
	background-image:url("../images/5.png");
	display:block;
}

.icon--linkedin a {
	background-image:url("../images/4.png");
	display:block;
}

.icon--flickr a {
	background-image:url("../images/2.png");
	display:block;
}
.icon--spotify a {
	background-image:url("../images/1.png");
	display:block;
}
/*-- //newsletter --*/
/*-- footer --*/
.footer{
	background:#212121;
	padding: 4em 0 0;
}
.agileinfo_footer_grid h4 {
	font-size:1.7em;
	color:#fff;
	margin:0 0 2em;
	position:relative;
	padding-bottom: .5em;
}
.agileinfo_footer_grid h4:after {
	background:#ff9900;
    width: 20%;
    height: 2px;
    content: '';
    position: absolute;
    bottom: -15%;
    left: 0%;
}
.agileinfo_footer_grid ul li{
	list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    line-height: 1.8em;
    color: #999;
    padding-left: 1em;
}
.agileinfo_footer_grid ul li span{
	left:-1em;
}
.agileinfo_footer_grid ul li a{
	color:#999;
	text-decoration:none;
}
.agileinfo_footer_grid ul li a:hover{
	color:#fff;
}
.agileinfo_footer_grid1{
	float:left;
	width:31.45%;
	margin:0 0.3em .3em 0em;
}
.w3agile_footer_copy{
	padding:2em 0;
	border-top:1px solid #606060;
	text-align:center;
	margin-top:3em;
}
.w3agile_footer_copy p{
	font-size:14px;
	color:#8F8F8F;
	margin:0;
	line-height:1.8em;
}
.w3agile_footer_copy p a{
	color:#fff;
	text-decoration:none;
}
.w3agile_footer_copy p a:hover{
	color:#8F8F8F;
}
.agileinfo_footer_grid:nth-child(1) {
    padding: 0 2em 0 0;
}
.agileinfo_footer_grid p{
	color:#999;
	line-height:2em;
}
.agileinfo_footer_grid p span{
	display:block;
	margin:1em 0 0;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- portfolio-bg --*/
.portfolio-bg{
	background:url(../images/6.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:400px;
}
.portfolio-bg h2{
	font-size: 3em;
    color: #FFF;
    text-align: center;
    padding: 4em 0 0;
    letter-spacing: 5px;
}
/*-- //portfolio-bg --*/
/*-- portfolio --*/
.filtr-item {
    padding: 1rem;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Filter controls */
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: #212121;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding:1em 2em;
	font-size: .9em;
}
ul.simplefilter {
    text-align: center;
    margin:3em 0 2em;
}
.simplefilter li.active,.simplefilter li:hover {
    background-color:#FF9900;
	color:#fff;
}
.multifilter li {
    background-color: #4b9eff;
}
.multifilter li.active {
    background-color: #2265b4;
}

/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}

/* Search control */
.search-row {
    margin-left: 2.5rem;
}
.filtr-search {
    padding: 0.5rem;
    text-transform: uppercase;
}
/*-- //portfolio-pluggin --*/
/*-- //portfolio --*/
/*-- services --*/
.agileits_services_grids{
	margin:4em 0 0;
}
.agileits_services_grid_left h4{
	font-size:1.5em;
	color:#212121;
	line-height:1.5em;
	text-transform:capitalize;
	letter-spacing:2px;
}
.agileits_services_grid_left p{
	margin:1.5em 0 3em;
	color:#999;
	line-height:2em;
}
.m2 {
    text-align: center;
    margin: 0 !important;
}
/*-- //services --*/
/*-- services-bottom --*/
.services-bottom{
	background:url(../images/14.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:500px;
}
.agile_services_bottom_grid_left{
	padding:3em 3em 3em 14em;
    background: rgba(0, 0, 0, 0.66);
}
.agile_services_bottom_grid_left h3{
	font-size:2em;
	color:#fff;
	line-height:1.5em;
	text-transform:capitalize;
}
.agile_services_bottom_grid_left h3 span{
	color:#ff9900;
}
.agile_services_bottom_grid_left p.eum{
	color:#fff;
	line-height:2em;
	margin:.5em 0 2em;
}
.agile_services_bottom_grid_left_grid{
	padding-left:0;
}
.agile_services_bottom_grid_left_grid span{
	color:#ff9900;
	font-size:1.5em;
	top:0;
}
.agile_services_bottom_grid_left_grid a{
	display: block;
    font-size: 1.2em;
    color: #fff;
    margin: .5em 0 .8em;
    text-transform: capitalize;
	text-decoration:none;
}
.agile_services_bottom_grid_left_grid a:hover{
	color:#ff9900;
}
.agile_services_bottom_grid_left_grid p{
	color:#C5C5C5;
	line-height:2em;
}
.agile_services_bottom_grid_left_grids:last-child{
	margin:2em 0 0;
}
/*-- //services-bottom --*/
/*-- featured-services --*/
.wthree_features_services_grids{
	margin:3em 0 0;
}
.wthree_features_services_grid h4 a{
	text-transform: capitalize;
    display: block;
    font-size: 1.3em;
    color: #212121;
    margin:1.5em 0 .8em;
	text-decoration:none;
}
.wthree_features_services_grid h4 a:hover{
	color:#ff9900;
}
.wthree_features_services_grid p{
	color:#999;
	line-height:2em;
	margin-bottom:2em;
}
/*-- //featured-services --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#FF9900;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
padding:0;
}
.in-gp-tb{
padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
 ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
}
@media (max-width:480px){
	.banner {
		min-height: 405px;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*-- mail --*/
.w3ls_map{
	margin:3em 0;
}
.w3ls_map iframe{
	width:100%;
	min-height:300px;
}
.w3l_contact_form h4{
	font-size: 1.5em;
    color: #212121;
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.w3l_contact_form input[type="text"],.w3l_contact_form input[type="email"],.w3l_contact_form textarea{
	outline: none;
    width: 100%;
    padding: 10px 10px 20px;
    font-size: 14px;
    color: #212121;
    border: none;
    border-bottom: 1px solid #DDD;
    font-weight: 600;
	background:none;
}
.w3l_contact_form input[type="email"]{
	margin:2em 0;
}
.w3l_contact_form textarea{
	min-height:150px;
	resize:none;
	margin:2em 0;
}
.w3l_contact_form input[type="submit"]{
	outline: none;
    width: 30%;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    border: none;
	background:#ff9900;
	text-transform:uppercase;
}
.w3l_contact_form input[type="submit"]:hover{
	background:#212121;
}
/*-- //mail --*/
/*-- single --*/
.w3ls_single_left_grid_left{
	float: left;
    width: 15%;
    text-align: center;
	border: 1px solid #ff9900;
}
.w3ls_single_left_grid_left h3{
	font-size:1.5em;
	color:#212121;
}
.w3ls_single_left_grid_left h3 i,.w3ls_single_left_grid_left h3 span{
	padding:.5em;
	display:block;
}
.w3ls_single_left_grid_left h3 i{
	font-style: normal;
    background: #ff9900;
    color: #fff;
}
.w3ls_single_left_grid_right{
	float:right;
	width:75%;
}
.w3ls_single_left_grid_right h3{
	font-size:1.5em;
	color:#212121;
	line-height:1.5em;
	text-transform:capitalize;
	margin: .5em 0;
}
.w3ls_single_left_grid_right ul li{
	display:inline-block;
	margin-right:1.5em;
	font-size:14px;
}
.w3ls_single_left_grid_right ul li span{
	padding-right:1em;
	color:#999;
}
.w3ls_single_left_grid_right ul li a{
	color:#999;
	text-decoration:none;
}
.w3ls_single_left_grid_right ul li a:hover{
	color:#ff9900;
}
.w3ls_single_left_grid1{
	margin:3em 0;
}
.w3ls_single_left_grid1 p{
	margin:2em 0;
	color:#999;
	line-height:2em;
}
.w3ls_single_left_grid1 p span{
	display:block;
	margin:1em 0 0;
}
.w3ls_single_left_grid1_left{
	float:left;
}
.w3ls_single_left_grid1_left h4{
	color: #ff9900;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: .8em;
}
.w3ls_single_left_grid1_right{
	float:left;
	margin-left:2em;
}
.w3ls_single_left_grid1_right ul li{
	display:inline-block;
	margin:0 5px;
}
.w3ls_single_left_grid1_right ul li a{
	width:50px;
	height:50px;
	border:1px solid #212121;
}
.w3ls_single_left_grid1_right ul li a.single_facebook{
	background:url(../images/img-sp.png) no-repeat -128px 0px;
	display:block;
}
.w3ls_single_left_grid1_right ul li a.single_twitter{
	background:url(../images/img-sp.png) no-repeat -175px -1px;
	display:block;
}
.w3ls_single_left_grid1_right ul li a.single_google{
	background:url(../images/img-sp.png) no-repeat -223px -1px;
	display:block;
}
.w3ls_single_left_grid1_right ul li a.single_instagram{
	background:url(../images/img-sp.png) no-repeat -272px -2px;
	display:block;
}
.w3l_admin {
    padding: 2em;
    background: #212121;
    margin:3em 0 0;
}
.w3l_admin p {
    color: #f5f5f5;
    line-height: 1.8em;
    position: relative;
    padding-left: 3.5em;
	margin-bottom: 1em;
}
.w3l_admin p:before {
    position: absolute;
    top: 0%;
    left: 0%;
    content: '';
    background: url(../images/img-sp.png) no-repeat -9px -10px;
    display: block;
    width: 20px;
    height: 15px;
}
.w3l_admin a {
    display: block;
    text-align: right;
    color:#FF9900;
    font-size: 1em;
    text-decoration: none;
}
.w3l_admin a:hover{
	color:#fff;
}
.w3ls_search1 input[type="text"] {
    outline: none;
    padding: 12px;
    text-align: center;
    color: #212121;
    border: 1px solid #DBDBDB;
    font-size: 1em;
    width: 100%;
    background: #f5f5f5;
}
.w3ls_search1 input[type="submit"] {
    outline: none;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 1em;
    width: 40%;
    background:#FF9900;
    margin: 1em 0 0;
}
.w3ls_search1 input[type="submit"]:hover {
    background: #212121;
}
.wthree_recent h4,.agileits_three_comments h3,.w3_leave_comment h3{
    font-size: 1.7em;
    color: #212121;
    margin: 0;
    line-height: 1.6em;
    text-transform: capitalize;
    text-align: right;
    position: relative;
    padding-bottom: .5em;
}
.wthree_recent h4:after,.agileits_three_comments h3:after,.w3_leave_comment h3:after{	
	content:'';
	position:absolute;
	bottom:0%;
	right:0%;
	background:#FF9900;
	width:20%;
	height:2px;
}
.agileits_three_comments h3:after,.w3_leave_comment h3:after{
	left:0;
}
.agileits_three_comments h3 span,.w3_leave_comment h3 span{
	color:#FF9900;
}
.wthree_recent ul{
    padding:2em 0 0;
}
.wthree_recent ul li{
    list-style-type: none;
    font-size: 14px;
    color: #999;
    padding: 1em 0;
    border-bottom: 1px dotted #C1C1C1;
    text-transform: capitalize;
}
.wthree_recent ul li a{
    color: #999;
    text-decoration: none;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
}
.wthree_recent ul li a:hover{
    color:#212121;
}
.wthree_recent ul li span {
    display: block;
    font-size: 13px;
    padding-left: 3.5em;
    color: #FF9900;
    margin: .5em 0 0;
}
.wthree_recent ul li span i {
    left: -1em;
}
.wthree_recent {
    margin: 3em 0;
}
.wthree_recent ul li a i {
    padding-right: 1em;
}
.wthree_recent ul li:last-child {
    border-bottom: none;
}
.agile_tags_cate{
    padding: 3em 0;
    border-top: 1px dotted #adadad;
    border-bottom: 1px dotted #adadad;
    margin:5em 0;
}
.agile_cat_grid{
    text-align: center;
}
.agile_cat_grid h4 {
    color: #1D1811;
    font-size: 2em;
    margin: 0;
}
.agile_cat_grid h4 span {
    font-size: 1.5em;
    color: #FF9900;
}
.agile_cat_grid ul {
    padding: 2em 0 0;
}
.agile_cat_grid ul.categories li {
    list-style-type: none;
    margin-top: 1em;
	font-size: 14px;
	margin-bottom:.5em;
}
.agile_cat_grid ul.categories li a {
    color: #999;
    border: 1px dotted #adadad;
    padding: .5em 1em;
    text-decoration: none;
	display: block;
}
.agile_cat_grid ul.categories li a:hover,.agile_cat_grid_tags ul li a:hover{
    color: #fff;
    background-color: #FF9900;
	border: 1px dotted #FF9900;
}
.agile_cat_grid_tags ul li{
	display:inline-block;
	margin:5px;
	font-size:14px;
}
.agile_cat_grid_tags ul li a{
	padding:5px 10px;
	border: 1px dotted #adadad;
	text-decoration:none;
	color:#999;
	display: block;
}
.agileits_three_comment_grid{
    padding:3em 0;
    border-bottom: 1px solid #dddddd;
    width: 100%;
}
.agileits_tom {
    float: left;
    border: 1px dotted #212121;
    padding: .5em;
}
.agileits_tom_right{
    float: left;
    width: 70%;
    margin-left: 3em;
}
.Hardy {
    float: left;
}
.reply {
    float: left;
    margin-left: 10em;
    margin-top: .5em;
}
.reply a {
    padding:8px 40px;
    background:#FF9900;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.reply a:hover{
	background:#212121;
}
.agileits_tom_right p.lorem {
    color: #999;
    line-height: 2em;
    margin: 1.5em 0 0;
}
.agileits_three_comments h3,.w3_leave_comment h3{
	text-align:left;
}
.Hardy h4 {
    font-size: 1.1em;
    color: #212121;
}
.Hardy p {
    color:#FF9900;
    margin: .5em 0 0;
}
.agileits_three_comment_grid:nth-child(2){
    margin:4em 0 0;
	padding-top:0 !important;
}
.agileits_three_comment_grid:last-child{
	border-bottom:none;
	padding-bottom:0 !important;
}
.agileits_three_comment_grid1{
	padding-left:5em;
}
.w3_leave_comment{
	margin:5em 0 0;
	width:60%;
}
.w3_leave_comment form{
	margin:3em 0 0;
}
.w3_leave_comment input[type="text"],.w3_leave_comment input[type="email"],.w3_leave_comment textarea{
	outline:none;
	background:#f5f5f5;
	border:1px solid #E3E3E3;
	padding:10px;
	font-size:14px;
	color:#212121;
	width:100%;
}
.w3_leave_comment input[type="email"],.w3_leave_comment textarea{
	margin:1em 0;
}
.w3_leave_comment textarea{
	min-height:200px;
}
.w3_leave_comment input[type="submit"]{
	outline:none;
	background:#FF9900;
	border:none;
	padding:10px 0;
	font-size:1em;
	color:#fff;
	width:100%;
}
.w3_leave_comment input[type="submit"]:hover{
	background:#212121;
}
/*-- //single --*/
.gallery_grid{
	position:relative;
	overflow:hidden;
}
.p-mask h4 {
    color:#FF9900;
    font-size: 1.3em;
    text-decoration: none;
    line-height: 1.8em;
}
.p-mask p {
    margin: 0;
    color: #D7D7D7;
    line-height:1.8em;
}
.gallery_grid .p-mask{
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.72);
    bottom: 0%;
    position: absolute;
    padding: 1.5em 1.5em;
    width: 100%;
    -webkit-transform: translate3d( 0px, 100%, 0px );
    -moz-transform: translate3d( 0px, 100%, 0px );
    -ms-transform: translate3d( 0px, 100%, 0px );
    -o-transform: translate3d( 0px, 100%, 0px );
    transform: translate3d( 0px, 100%, 0px );
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    text-align: left;
}
.gallery_grid:hover .p-mask{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d( 0px, 0px, 0px );
    -moz-transform: translate3d( 0px, 0px, 0px );
    -ms-transform: translate3d( 0px, 0px, 0px );
    -o-transform: translate3d( 0px, 0px, 0px );
    transform: translate3d( 0px, 0px, 0px );
}
/*-----start-responsive-design------*/
@media (max-width:1366px){
	.banner_bg {
		padding: 10em 0 3em;
	}
	.banner {
		min-height: 680px;
	}
	.portfolio-bg {
		min-height: 330px;
	}
	.portfolio-bg h2 {
		padding: 3em 0 0;
	}
	.agile_services_bottom_grid_left {
		padding: 3em 3em 3em 7em;
	}
}
@media (max-width: 1280px){
	.agile_services_bottom_grid_left {
		padding: 3em 3em 3em 4.5em;
	}
}
@media (max-width: 1080px){
	.banner_bg {
		width: 90%;
		padding: 9em 0 3em;
	}
	.wthree_banner_info_grid h3 {
		font-size: 2.2em;
	}
	.banner {
		min-height: 600px;
	}
	.view h3 {
		margin: 3.5em 0 1em 0;
	}
	.w3ls_banner_bottom_grid_left h3 {
		margin-bottom: 1em;
	}
	.w3ls_banner_bottom_grid_left p {
		margin-bottom: 2em;
	}
	.wthree_about_grid h2 {
		font-size: 1.5em;
	}
	.wthree_about_grid:nth-child(2) {
		margin: 0;
	}
	.agile_blog_grid1_pos {
		top: 21%;
		width: 90%;
		left: 5%;
	}
	.m1 {
		width: 60% !important;
	}
	.newsletter form {
		width: 71%;
	}
	.icon {
		width: 6%;
		padding-bottom: 6%;
	}
	.w3ls_single_left_grid_right {
		float: right;
		width: 82%;
	}
	.w3ls_single_left_grid_right ul li {
		margin-right: 1em;
	}
	.portfolio-bg h2 {
		font-size: 2.5em;
	}
	.portfolio-bg {
		min-height: 275px;
	}
	.agile_services_bottom_grid_left {
		padding: 2em 2em 2em 3.5em;
	}
	.agile_services_bottom_grid_left h3 {
		font-size: 1.8em;
	}
	.filtr-item {
		padding: .5em;
	}
	.gallery_grid .p-mask {
		padding: 1em;
	}
}
@media (max-width: 1024px){
	.banner-bottom, .blog, .newsletter, .portfolio, .services, .features-services, .typo, .mail, .single {
		padding: 4em 0;
	}
	.about {
		padding: 4em 0 0;
	}
}
@media (max-width: 991px){
	.navbar-nav > li > a {
		font-size: 13px;
		padding: 28px 15px;
	}
	.navbar-brand {
		height: 60px;
		padding: 23px 0px 0;
		font-size: 1.1em;
	}
	.wthree_banner_info_grid h3 {
		font-size: 1.8em;
		letter-spacing: 5px;
	}
	.w3l_banner_info_left {
		float: left;
		width: 33.33%;
		padding: 0;
	}
	.w3l_banner_info_left_grid1 {
		width: 40px;
		height: 40px;
	}
	.w3l_banner_info_left_grid_left {
		padding-left: 0;
	}
	.w3l_banner_info_left_grid_left h3 a {
		font-size: .9em;
	}
	.w3l_banner_info_left_grid1 span {
		font-size: 1em;
		top: .7em;
	}
	.w3ls_banner_bottom_grid_right {
		width: 93%;
		margin: 3em auto 0;
	}
	.view h3 {
		margin: 7.5em 0 1em 0;
	}
	.wthree_about_grid img {
		margin: 0 auto;
	}
	.wthree_about_grid:nth-child(2) {
		margin: 2em 0 0;
	}
	.banner-bottom, .blog,.about, .newsletter, .portfolio, .services, .features-services, .typo, .mail, .single {
		padding: 4em 0;
	}
	.agile_blog_grid {
		float: left;
		width: 33.33%;
	}
	.agile_blog_grid1_pos {
		top: 8%;
		padding: .5em;
	}
	.agile_blog_grid h4 a {
		font-size: 1em;
	}
	.agileits_play_icon span {
		font-size: 2em;
	}
	.agileits_play_icon {
		left: 42%;
	}
	.m1 {
		width: 80% !important;
	}
	.newsletter form {
		width: 90%;
	}
	.newsletter input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat -50px 0px;
	}
	.icon {
		width: 8%;
		padding-bottom: 8%;
	}
	.agileinfo_footer_grid:nth-child(1) {
		padding: 0 1em;
	}
	.agileinfo_footer_grid:nth-child(2) {
		margin: 2.5em 0;
	}
	.agileinfo_footer_grid h4 {
		margin: 0 0 1.5em;
	}
	.w3agile_footer_copy {
		margin-top: 2em;
	}
	.agileinfo_footer_grid h4:after {
		width: 15%;
	}
	.w3ls_single_right {
		margin: 3em 0 0;
	}
	.wthree_recent h4:after, .agileits_three_comments h3:after, .w3_leave_comment h3:after {
		width: 12%;
	}
	.agile_cat_grid h4 {
		font-size: 1.6em;
	}
	.agileits_services_grids {
		margin: 3em 0 0;
	}
	.agileits_services_grid_right {
		margin: 3em 0 0;
	}
	.agile_services_bottom_grid_left {
		padding: 3em 2em;
		float: left;
		width: 80%;
	}
	.agile_services_bottom_grid_left_grid {
		float: left;
		width: 50%;
	}
	.services-bottom {
		background-position: url(../images/14.jpg) no-repeat -180px 0px;
		min-height: 450px;
	}
	.wthree_recent {
		margin: 3em 0 0;
	}
	.agile_tags_cate {
		margin: 3em 0;
	}
	.wthree_features_services_grid {
		float: left;
		width: 33.33%;
	}
	.wthree_features_services_grid h4 a {
		font-size: 1.1em;
	}
	.agile_cat_grid ul {
		padding: 1em 0 0;
	}
	.agile_cat_grid:nth-child(2) {
		margin: 2em 0;
	}
	.agileits_three_comment_grid1 {
		padding-left: 3em;
	}
	.w3_leave_comment {
		margin: 4em 0 0;
		width: 80%;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
		padding: .5em 1em;
	}
}
@media (max-width:800px){
	.banner {
		background-position: -140px 0px;
	}
	.portfolio-bg h2 {
		font-size: 2em;
		letter-spacing: 3px;
	}
	.portfolio-bg {
		min-height: 250px;
	}
	.agileits_services_grid_right img {
		width: 65%;
		margin: 0 auto;
	}
}
@media (max-width: 768px){
	.wthree_banner_info_grid h3 {
		font-size: 1.8em;
		letter-spacing: 6px;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-brand {
		height: 80px;
	}
	.navbar-toggle {
		margin:1.7em 0 0;
	}	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.navbar-nav {
		float: none;
		background:#f5f5f5;
		text-align: center;
	}
	.navbar-nav > li > a {
		padding: 15px 0px;
		margin-right: 0;
	}
	.navbar-default .navbar-nav > li > a {
		color: #212121;
	}
	.banner_bg {
		padding: 7em 0 3em;
	}
	.banner {
		min-height: 545px;
	}
}
@media (max-width: 736px){
	.agile_blog_grid {
		float: none;
		width: 60%;
		margin: 0 auto;
	}
	.agile_blog_grid1_pos {
		top: 30%;
		padding: 1em;
		width: 70%;
		left: 14%;
	}
	.m1 {
		width: 60% !important;
	}
	.agile_blog_grid:nth-child(2) {
		margin: 2em auto;
	}
	.agileits_play_icon {
		left: 49%;
		top: 40%;
	}
	.newsletter input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat -63px 0px;
	}
}
@media (max-width: 667px){
	.wthree_banner_info_grid h3 {
		font-size:1.5em;
		padding-bottom: 3.5em;
	}
	.w3l_banner_info_left_grid_left h3 a {
		font-size: .8em;
	}
	.w3l_banner_info_left_grid_left {
		padding: 0;
	}
	.agile_blog_grid {
		width: 70%;
	}
	.icon {
		width: 9%;
		padding-bottom: 9%;
	}
	.footer {
		padding: 3em 0 0;
	}
}
@media (max-width: 640px){
	.banner_bg {
		padding: 6em 0 3em;
		width: 98%;
	}
	.w3l_banner_info_left {
		float: none;
		width: 100%;
		padding: 0 1em;
	}
	.w3l_banner_info_left_grid {
		width: 18%;
	}
	.w3l_banner_info_left:nth-child(2) {
		margin: 2em 0;
	}
	.banner {
		min-height: 620px;
		background-position: -270px 0px;
	}
	.w3ls_banner_bottom_grid_left h3,.blog h3, .newsletter h3, .portfolio h3, .services h3, .features-services h3, h3.title, .mail h3 {
		font-size: 1.8em;
	}
	.w3ls_banner_bottom_grid_left h3{
		padding-bottom: .7em;
	}
	.banner-bottom, .blog, .about, .newsletter, .portfolio, .services, .features-services, .typo, .mail, .single {
		padding: 3em 0;
	}
	.view h3 {
		margin: 5.5em 0 1em 0;
	}
	.wthree_about_grid img {
		width: 60%;
	}
	.wthree_about_grid p {
		margin: 2em 0 0;
	}
	.m1 {
		width: 50% !important;
	}
	.icon {
		width: 10%;
		padding-bottom: 10%;
	}
	.agileinfo_footer_grid h4 {
		font-size: 1.5em;
	}
	.agileinfo_footer_grid p span {
		display: initial;
	}
	.agileits_play_icon {
		left: 48%;
	}
	.portfolio-bg h2 {
		padding: 2em 0 0;
	}
	.portfolio-bg {
		min-height: 170px;
	}
	.agileits_services_grid_left h4 {
		font-size: 1.3em;
		letter-spacing: 1px;
	}
	.agileits_services_grids {
		margin: 2em 0 0;
	}
	.agileits_services_grid_left p {
		margin: 1.5em 0 2em;
	}
	.agile_services_bottom_grid_left h3 {
		font-size: 1.5em;
	}
	.wthree_features_services_grid {
		float: none;
		width: 70%;
		margin: 0 auto;
	}
	.wthree_features_services_grid:nth-child(2){
		margin:2em auto;
	}
	.wthree_recent h4, .agileits_three_comments h3, .w3_leave_comment h3 {
		font-size: 1.5em;
	}
	.w3_leave_comment {
		margin: 3em 0 0;
		width: 95%;
	}
	.w3_leave_comment form {
		margin: 2em 0 0;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
		padding: .5em .8em;
		font-size: .8em;
	}
	ul.simplefilter {
		margin: 2em 0 1em;
	}
	.row {
		margin: 0;
	}
	.w3ls_map iframe {
		min-height: 250px;
	}
}
@media (max-width: 600px){
	.wthree_banner_info_grid h3 {
		font-size: 1.4em;
	}
	.view h3 {
		margin: 4.5em 0 1em 0;
	}
}
@media (max-width: 568px){
	.agile_blog_grid {
		width: 80%;
	}
	.wthree_banner_info_grid h3 {
		letter-spacing: 5px;
	}
}
@media (max-width: 480px){
	.navbar-brand {
		height: 73px;
		padding: 20px 0px 0;
		font-size: 1em;
	}
	.navbar-toggle {
		margin: 1.4em 0 0;
	}
	.wthree_banner_info_grid h3 {
		letter-spacing: 2px;
		padding-bottom: 2em;
	}
	.wthree_banner_info_grid h3:after {
		bottom: 50%;
	}
	.banner {
		min-height: 590px;
		background-position: -360px 0px;
	}
	.w3ls_banner_bottom_grid_left h3, .blog h3, .newsletter h3, .portfolio h3, .services h3, .features-services h3, h3.title, .mail h3 {
		font-size: 1.5em;
	}
	.more {
		width: 40%;
	}
	.more a {
		padding: 8px 25px;
	}
	.w3ls_banner_bottom_grid_right {
		width: 100%;
		margin: 2em auto 0;
	}
	.w3ls_banner_bottom_grid_left {
		padding: 0;
	}
	.view h3 {
		margin:3.5em 0 1em 0;
		font-size: 1.3em;
	}
	.wthree_about_grid img {
		width: 90%;
	}
	.wthree_about_grid h2 {
		font-size: 1.3em;
	}
	.agile_blog_grids {
		margin: 2em 0 0;
	}
	.agile_blog_grid {
		width: 100%;
	}
	.newsletter input[type="email"] {
		width: 89%;
		font-size: 1.2em;
	}
	.newsletter input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat -68px 0px;
		width: 9%;
	}
	.newsletter form {
		margin: 2em auto 2em;
	}
	.icon {
		width: 13%;
		padding-bottom: 13%;
	}
	.w3ls_single_left_grid_left {
		width: 18%;
	}
	.w3ls_single_left_grid_right {
		width: 76%;
	}
	.w3ls_single_left_grid_right h3 {
		font-size: 1.2em;
	}
	.w3ls_single_left_grid_right ul li {
		margin-bottom: .5em;
	}
	.w3ls_single_left_grid1 {
		margin: 2em 0;
	}
	.agile_cat_grid h4 {
		font-size: 1.4em;
	}
	.agile_tags_cate {
		margin: 2em 0;
		padding: 2em 0;
	}
	.agileits_tom_right {
		float: right;
		margin-left: 0;
	}
	.agileits_tom {
		width: 20%;
	}
	.reply a {
		padding: 8px 30px;
	}
	.reply {
		margin-left: 6em;
	}
	.agileits_three_comment_grid {
		padding: 2em 0;
	}
	.agileits_three_comment_grid1 {
		padding-left: 0em;
	}
	.agileits_services_grid_right img {
		width: 100%;
	}
	.agile_services_bottom_grid_left {
		padding: 2em;
		float: none;
		width: 100%;
	}
	.agile_services_bottom_grid_left_grid a {
		font-size: 1.1em;
	}
	.wthree_features_services_grid {
		width: 100%;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
		margin-bottom: .5em;
	}
	.filtr-item {
		padding: 1em;
		float: none;
		width: 100%;
	}
	.gallery_grid .p-mask {
		padding: 1.5em;
	}
}
@media (max-width: 414px){
	.w3l_banner_info_left_grid {
		width: 22%;
	}
	.w3l_banner_info_left_grid_left {
		width: 75%;
	}
	.w3l_banner_info_left:nth-child(2) {
		margin: 1em 0;
	}
	.wthree_banner_info_grid h3 {
		font-size: 1.2em;
		padding-bottom: 2.5em;
	}
	.wthree_banner_info_grid h3:after {
		bottom: 56%;
	}
	.banner_bg {
		padding: 5em 0 0em;
	}
	.banner {
		min-height: 540px;
	}
	.w3l_banner_info_left_grid_left h3 a {
		font-size: .7em;
	}
	.w3l_banner_info_left_grid_left p {
		margin: .5em 0 0;
	}
	.more {
		width: 45%;
	}
	.view-seventh .mask {
		padding: 0 1em;
	}
	.view h3 {
		margin: 2em 0 1em 0;
	}
	.wthree_about_grid:nth-child(2) {
		padding: 0;
	}
	.wthree_about_grid h2 {
		font-size: 1.1em;
	}
	.wthree_about_grid h2:after {
		right: 5%;
	}
	.agile_blog_grid1_pos {
		top: 26%;
		width: 80%;
		left: 10%;
	}
	.agileits_play_icon {
		left: 46%;
	}
	.icon {
		width: 15%;
		padding-bottom: 15%;
		margin: 0;
	}
	.footer {
		padding: 2em 0 0;
	}
	.agileinfo_footer_grid h4 {
		font-size: 1.3em;
	}
	.w3agile_footer_copy {
		margin-top: 1em;
		padding: 1.5em 0;
	}
	.newsletter input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat -69px 0px;
		width: 10%;
	}
	.newsletter input[type="email"] {
		width: 88%;
	}
	.banner-bottom, .blog, .about, .newsletter, .portfolio, .services, .features-services, .typo, .mail, .single {
		padding: 2em 0;
	}
	.w3ls_single_left,.w3ls_single_right {
		padding: 0;
	}
	.w3ls_single_left_grid_left h3 {
		font-size: 1.3em;
	}
	.w3ls_single_left_grid_right {
		width: 78%;
	}
	.w3ls_single_left_grid_right h3 {
		font-size: 1em;
		margin: 0 0 .5em;
	}
	.w3ls_single_left_grid1 p {
		margin: 1em 0 2em;
	}
	.agileits_three_comments h3 {
		font-size: 1.2em;
	}
	.agileits_three_comment_grid:nth-child(2) {
		margin: 2em 0 0;
	}
	.agileits_tom_right {
		width: 75%;
	}
	.reply {
		margin-left: 4em;
	}
	.agile_services_bottom_grid_left_grid a {
		font-size: .98em;
	}
	.agile_services_bottom_grid_left h3 {
		font-size: 1.3em;
	}
	.wthree_recent {
		margin: 2em 0 0;
	}
	.w3ls_map {
		margin: 2em 0;
	}
	.w3ls_map iframe {
		min-height: 200px;
	}
	.w3l_contact_form h4 {
		font-size: 1.2em;
		margin-bottom: 1em;
	}
	.w3l_contact_form input[type="email"],.w3l_contact_form textarea {
		margin: 1em 0;
	}
	.w3l_contact_form input[type="submit"] {
		width: 100%;
		font-size: 14px;
	}
}
@media (max-width: 384px){
	.w3l_banner_info_left {
		padding: 0;
	}
	.wthree_banner_info_grid h3 {
		letter-spacing: 1px;
	}
	.navbar-brand {
		font-size: .9em;
	}
	.more a {
		font-size: 13px;
	}
	.view h3 {
		font-size: 1.1em;
	}
	.view p {
		line-height: 1.8em;
	}
	.wthree_about_grid img {
		width: 100%;
	}
	.agile_blog_grid1_pos {
		top: 23%;
	}
	.w3ls_single_left_grid1_right {
		float: right;
		margin-left: 0em;
	}
	.w3l_admin {
		padding: 1.5em;
		margin: 2em 0 0;
	}
	.w3l_admin p {
		padding-left: 2.5em;
	}
	.reply a {
		padding: 6px 25px;
		font-size: 13px;
	}
	.Hardy h4 {
		font-size: 1em;
	}
}
@media (max-width: 375px){
	.w3l_banner_info_left_grid_left h3 a {
		font-size: .68em;
	}
	.banner {
		min-height: 500px;
	}
	.navbar-nav > li > a {
		padding: 10px 0px;
	}
	.view h3 {
		letter-spacing: 3px;
	}
	.agile_blog_grid1_pos {
		top: 15%;
	}
	.newsletter form {
		width: 100%;
	}
	.portfolio-bg h2 {
		font-size: 1.6em;
		letter-spacing: 2px;
	}
	.portfolio-bg {
		min-height: 145px;
	}
	.w3ls_single_left_grid1_left {
		float: none;
		text-align: center;
		margin-bottom: 1em;
	}
	.w3ls_single_left_grid1_right {
		float: none;
		text-align: center;
	}
	.w3_leave_comment {
		margin: 2em 0 0;
		width: 100%;
	}
	.agileits_services_grid_left h4 {
		font-size: 1.1em;
	}
	.agileits_services_grid_left {
		padding: 0;
	}
	.agile_services_bottom_grid_left_grid a {
		font-size: .85em;
	}
	.wthree_features_services_grids {
		margin: 2em 0 0;
	}
	.wthree_features_services_grid h4 a {
		font-size: 1em;
	}
}
@media (max-width: 320px){
	.navbar-brand {
		font-size: .8em;
		height: 65px;
		padding: 15px 0px 0;
	}
	.navbar-toggle {
		margin: 1em 0 0;
	}
	.wthree_banner_info_grid h3 {
		font-size: 1em;
		padding-bottom:3em;
	}
	.w3l_banner_info_left_grid {
		padding-left: 0;
	}
	.banner {
		min-height: 475px;
	}
	.banner_bg {
		padding: 4em 0 0em;
	}
	.alert, p,.agileinfo_footer_grid ul li,.w3l_contact_form input[type="text"], .w3l_contact_form input[type="email"], .w3l_contact_form textarea,.w3_leave_comment input[type="text"], .w3_leave_comment input[type="email"], .w3_leave_comment textarea,.agile_cat_grid ul.categories li,.agile_cat_grid_tags ul li,.w3agile_footer_copy p,.w3ls_single_left_grid_right ul li {
		font-size: 13px;
	}
	.w3_leave_comment textarea {
		min-height: 150px;
	}
	.wthree_recent h4, .agileits_three_comments h3, .w3_leave_comment h3 {
		font-size: 1.3em;
	}
	.agileits_three_comments h3 {
		font-size: 1.1em;
	}
	.agileits_tom {
		width: 25%;
	}
	.agileits_tom_right {
		width: 70%;
	}
	.reply {
		margin-left: 1em;
	}
	.w3ls_banner_bottom_grid_left h3, .blog h3, .newsletter h3, .portfolio h3, .services h3, .features-services h3, h3.title, .mail h3 {
		font-size: 1.3em;
	}
	.w3ls_banner_bottom_grid_left h3:after {
		width: 30%;
		left: 34%;
	}
	.more {
		width: 65%;
	}
	.w3ls_banner_bottom_grid_right,.agile_cat_grid,.agile_blog_grid,.agileinfo_footer_grid:nth-child(1),.agileinfo_footer_grid {
		padding: 0;
	}
	.view h3 {
		margin: 1.6em 0 1em 0;
	}
	.wthree_about_grid p {
		margin: 1em 0 0;
	}
	.agile_blog_grid h4 {
		margin: 1em 0 0.5em;
	}
	.m1 {
		width: 60% !important;
	}
	.newsletter input[type="email"] {
		width: 85%;
		font-size: 1em;
	}
	.newsletter input[type="submit"] {
		width: 13%;
	}
	.icon {
		width: 18%;
		padding-bottom: 18%;
	}
	.agileinfo_footer_grid:nth-child(2) {
		margin: 2em 0;
	}
	.w3ls_single_left_grid_left h3 {
		font-size: 1.1em;
	}
	.w3ls_single_left_grid1 {
		margin: 1em 0;
	}
	.w3ls_single_right {
		margin: 2em 0 0;
	}
	.w3ls_search1 input[type="text"],.w3_leave_comment input[type="submit"] {
		font-size: 14px;
	}
	.w3ls_search1 input[type="submit"] {
		font-size: 14px;
		width: 100%;
	}
	.wthree_recent h4:after, .agileits_three_comments h3:after, .w3_leave_comment h3:after {
		width: 30%;
	}
	.wthree_recent ul {
		padding: 1em 0 0;
	}
	.agile_tags_cate {
		margin: 1em 0;
		padding: 1.5em 0;
	}
	.agileits_services_grid_left h4 {
		font-size: 1em;
	}
	.agile_services_bottom_grid_left_grid {
		float: none;
		width: 100%;
	}
	.agile_services_bottom_grid_left_grid a {
		font-size: 1em;
	}
	.agile_services_bottom_grid_left_grid:nth-child(2) {
		margin: 1em 0;
	}
	.agile_services_bottom_grid_left_grids:last-child {
		margin: 0;
	}
	.agile_services_bottom_grid_left {
		padding: 2em 2em 1em;
	}
	ul.simplefilter {
		margin: 1em 0 0em;
	}
	.p-mask h4 {
		font-size: 1.1em;
	}
	.filtr-item {
		padding: .5em;
	}
}